{% extends 'base.html' %}

{% block title %}
    New Post
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-center">New Post</h1>
        <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark"><i class="fa-solid fa-arrow-up-from-bracket"></i></button>
        </form>
        </div>
        <br><br>
        {% else %}
        <h1 class="text-center">404 Page Not Found</h1>
    {% endif %}

    <script>
            document.getElementById("author").value = {{ user.id }};
    </script>
{% endblock %}