{% extends 'base.html' %}

{% block title %}
    {{ category.name }} Category - AGlob
{% endblock %}

{% block content %}
    <h1 class="text-center">{{ category.name }} Category</h1>
    <h5 class="text-center">Total Posts: {{ posts|length }}</h5>
    <ul class="list-group">
    {% for post in posts %}
        <li>
            <h3>
                <a href="{% url 'AGlob:post_detail' post.id %}" class="text-decoration-none" >{{ post.title }}</a>
            </h3>
        </li>
    {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url 'AGlob:add_post' %}" class="btn btn-dark"><i class="fa-solid fa-plus"></i></a>
    {% endif %}

{% endblock %}
